<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>@ViewData["Title"]</title>
    <!-- <link rel="stylesheet" href="~/SwapGame_MVC.styles.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script defer src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @RenderBody()
</body>
</html>
